/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* 
font-family: 'Chelsea Market', cursive;
font-family: 'Roboto Mono', monospace;
*/
body {
    letter-spacing: 1px;
    font-family: 'Roboto Mono', monospace;
    overflow-x: hidden;
}
header {
    width: 100%;
    padding: 30px;
}
nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
nav a {
    padding: 10px;
    border-radius: 12px;
    width: 150px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    line-height: 1.2rem;
}
.titles {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    padding: 30px;
    
}
.left {
    width: 30%;
    padding: 10px;
    text-align: center;

}
.left img {
    max-width: 200px;
    height: 200px;
}
.round {
    border-radius: 50%;
    overflow: hidden;
}
.right {
    width: 70%;
    padding: 20px;
    padding-top: 0;
    font-family: 'Chelsea Market', cursive;
    text-align: center;
    letter-spacing: normal;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.right h1 {
    font-size: 3.5rem;
    margin-top: 0;
    padding: 10px;
    padding-bottom: 20px;
}
.right h2, .right p {
    max-width: 400px;
    margin: 0 auto;
}
.orange {
    background: #FF764E;
}
.blue {
    background: #5ED3EB;
}
.yellow {
    background: #FFCD69;
}


.main {
    background: #DDB9A3;
    padding: 20px;
    line-height: 1.5rem;
    color: #fff;
    font-weight: bold;
    width: 100vw;
    margin-left: 5vw;
    margin-bottom: 10px;
}
.main p {
    margin: 0 auto;
    margin-top: 15px;
    font-size: 1rem;
    max-width: 90vw;
    padding: 10px;
}
.main p:first-of-type {
    margin-top: 0;
}

.info {
    text-align: center;
    width: 100%;
    margin-bottom: 40px;
}
.info div {
    padding: 15px;
    font-weight: bold;
    font-size: 0.8rem;
    line-height: 1.3rem;
}
.info img {
    max-width: 100px;
    margin-bottom: 5px;
}
.info p {
    max-width: 250px;
    width: 250px;
    margin: 0 auto;
}
section:last-of-type {
    position: relative;
    width: 100vw;
    min-width: 100vw;
    background: chartreuse;
    text-align: center;
}
.hero-image {
    width: 100vw;
    min-width: 100vw;
    overflow: hidden;
    margin-top: 80px;
    height: 30vh;
    max-height: 30vh;
    min-height: 30vh;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-left: 75px;
}
.hero-image img {
    height: 30vh;
    max-height: 30vh;
    min-height: 30vh;
    min-width: 100vw;
}
footer {
    background: #F9E7DC;
    padding: 50px;
    min-width: 100vw;
    margin-top: -30px;
}